// Create and render at least one view using a view template and template engine. This can be a custom template engine or a third-party engine.
// If you are stuck on how to approach this, think about ways you could render the current state of your API's data for easy viewing.
//Use simple CSS to style the rendered views.
//Add toppings data table.
- var managerT = managerType
doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/styles.css')
  title Pizza Manager
header
  h1 Pizza Manager
main
  nav#sideBar
    img(src='', alt='user_image')
    p#userHello
      | Hello 
      em USERNAME
    p#userTitle Manager
    ul
      li
        a(href='pizzasManager.html') Pizza Manager
      li
        a(href='toppingsManager.html') Toppings Manager
  section
    #searchContainer
      form(action=`http://localhost:3000/${managerT}/search`, method="GET") 
        input#searchBar(type='search', name='name')
        button(type='submit')
          img(src='', alt='search_icon')
    #productList
      block productContent
footer
  // Sources go here, also c me!
