extends default 

block productContent
    h1 Toppings : #{order}
    select#productFilter(name='Order Filter')
     option(value='alpha') Alphabetical
     option(value='ascending') Ascending
     option(value='descending') Descending

    #{productTable}